name: build-push-ar
on:
  push:
jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: '>=1.23.4'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@55c2c1448f86e01eaae002a5a3a9624417608d84 # v6
        with:
          version: latest
      
      - name: Install dependencies
        run: go get .

      - name: Build
        run: go build -v

      - name: Test with the Go CLI
        run: go test -v -race ./...


  build-push-ar:
    needs: [test]
    uses: libops/actions/.github/workflows/build-push.yml@main
    with:
      image: "shared/vault-init"
    permissions:
      contents: read
      id-token: write
    secrets: inherit
